{% extends 'base.html' %}
{% block content %}
{% load static %}
</style>
  <div class="site-section border-bottom" >
        <div class="container">
          <div class="row text-center justify-content-center mb-5">
            <div class="col-md-7 de" data-aos="fade-up">
              <h2 style="font-family: 'Tangerine', serif;font-weight:bold;color: #8a0005;">Gallery</h2>
            </div>
          </div>

          <div class="row">
            {% for i in image %}


    <div class="col-md-6 col-lg-4">
              <a class="image-gradient" href="media/{{u.file}}">
                <figure data-aos="fade-up" data-aos-delay="100">
                  <img src="/media/{{i.cover_image}}" alt="" width="100%" class="img-fluid">
                </figure>
                <div class="text">

                  <h3>{{i.name}}</h3>
                  <span>{{i.discription}}</span>

                </div>
              </a>
            </div>


     {% endfor %}
           </div>


<div class="row">
{% for v in video %}
<div class="col-lg-4 col-md-12 mb-4">

<form>
  <a><img class="img-fluid z-depth-1" src="/media/{{v.cover_image}}" alt="video" data-toggle="modal" data-target="#modal1" style="width: 100%;height: 230px;">
<input type="hidden" name="filename" value="{{v.cover_image}}">
      <img src="{% static 'images/play.png' %}" style="position: relative;top: -50%;" data-toggle="modal" data-target="#modal1" ></a>

</form>

</div>
<!-- Grid column -->

      <!--Modal: Name-->
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

          <!--Content-->
          <div class="modal-content">

            <!--Body-->
            <div class="modal-body mb-0 p-0">

              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                {% if v.cover_image == filename %}
                  <video width="320" height="240" controls>
                      <source src="/media/{{v.file}}" type="video/mp4">
                  </video>
                  {% endif %}
              </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <span class="mr-4">Share</span>
              <div>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>

              <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

            </div>

          </div>
          <!--/.Content-->

        </div>
      </div>
      <!--Modal: Name-->

{% endfor %}

<!-- Grid column -->


    </div>
</div></div>



{% endblock %}
