{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .de h2{
    font-size: 50px;
    text-shadow: 4px 4px 8px red;
  }
</style>
  <div class="site-section border-bottom" >
        <div class="container">
          <div class="row text-center justify-content-center mb-5">
            <div class="col-md-7 de" data-aos="fade-up">
              <h2 style="font-family: 'Tangerine', serif;font-weight:bold;color: #8a0005;">Make Your Event Beautifull</h2>
            </div>
          </div>

          <div class="row">
            {% for i in image %}
            {% if i.id < 7 %}

    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <a class="image-gradient" href="#">
                <figure>
                  <img src="media/{{i.cover_image}}" alt="" width="100%" class="img-fluid">
                </figure>
                <div class="text">

                  <h3>{{i.name}}</h3>
                  <span>{{i.discription}}</span>
                </div>
              </a>
            </div>
            {% else %}

            {% endif %}
     {% endfor %}
           </div>
  <button type="button" class="btn btn-success" id="expend" style="position: relative;left: 92%;top:-20px;">See All..</button>
                  </div>
        </div>


              <!--================ Video section start =================-->

              <div class="video-area background_one area-padding">
                  <div class="container">
                      <div class="row">
                          <div class="area-heading">
                              <h3 style="font-family: 'Tangerine', serif;font:bold;font-size: 35px;">Best Wedding Events</h3>
                              <p>We will Make your Unforgettable Memories.</p>

                          </div>

                      </div>
                      <div class="row">
                          <div class="col-lg-7">
                              <div class="single-blog video-style">
                                  <div class="thumb">

<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <video width="320" height="240" controls>
      <source src="{% static 'video/covervideo.3gp' %}" type="video/mp4">
  </video>
</div>
                                      <div class="play_btn">
                                          <a class="play-video" href="# " data-animate="zoomIn"
                                          data-duration="1.5s" data-delay="0.1s"><span class="ti-control-play"></span></a>
                                      </div>
                                  </div>
                                  <div class="short_details">
                                      <div class="meta-top d-flex">
                                          <a href="#">#love</a>/
                                          <a href="#">March 15, 2019</a>
                                      </div>
                                      <a class="d-block" href="single-blog.html">
                                          <h4>Best Wishes for all..</h4>
                                      </a>

                                  </div>
                              </div>

                          </div>

                          <div class="col-lg-5">
                              <div class="single-blog video-style small row m_b_30" style="padding: 2px;margin: 5px;">
                                  <div class="thumb col-12 col-sm-5"">
                                      <img class="img-fluid" src="{% static 'images/davids-kokainis-e_bdN89m4g8-unsplash.jpg' %}" alt="" style="width: 100%; height: 170px;">
                                      <div class="play_btn">
                                          <a class="play-video" href="https://www.youtube.com/watch?v=MrRvX5I8PyY" data-animate="zoomIn"
                                          data-duration="1.5s" data-delay="0.1s"><span class="ti-control-play"></span></a>
                                      </div>
                                  </div>
                                  <div class="short_details col-12 col-sm-7">
                                      <div class="meta-top d-flex">
                                          <a href="#">Wedding Farm House</a>
                                      </div>
                                      <a class="d-block" href="single-blog.html">
                                          <h4>Blessed night morning on
                                          them you great</h4>
                                      </a>

                                  </div>
                              </div>

                              <div class="single-blog video-style small row m_b_30 " style="padding: 2px;margin: 5px;">
                                  <div class="thumb col-12 col-sm-5">
                                    <img class="img-fluid" src="{% static 'images/pranav-kumar-jain-JZgpnwhdI68-unsplash.jpg' %}" alt="" style="width: 100%; height: 150px;">
                                      <div class="play_btn">
                                          <a class="play-video" href="https://www.youtube.com/watch?v=MrRvX5I8PyY" data-animate="zoomIn"
                                          data-duration="1.5s" data-delay="0.1s"><span class="ti-control-play"></span></a>
                                      </div>
                                  </div>
                                  <div class="short_details col-12 col-sm-7">
                                      <div class="meta-top d-flex">
                                          <a href="#">Beauty</a>
                                      </div>
                                      <a class="d-block" href="single-blog.html">
                                          <h4>Blessed night morning on
                                          them you great</h4>
                                      </a>

                                  </div>
                              </div>

                              <div class="single-blog video-style small row"  style="padding: 2px;margin: 5px;">
                                  <div class="thumb col-12 col-sm-5">
                                    <img class="img-fluid" src="{% static 'images/3.jpg' %}" alt="" style="width: 100%; height: 150px;">
                                      <div class="play_btn">
                                          <a class="play-video" href="https://www.youtube.com/watch?v=MrRvX5I8PyY" data-animate="zoomIn"
                                          data-duration="1.5s" data-delay="0.1s"><span class="ti-control-play"></span></a>
                                      </div>
                                  </div>
                                  <div class="short_details col-12 col-sm-7">
                                      <div class="meta-top d-flex">
                                          <a href="#">Beauty</a>
                                      </div>
                                      <a class="d-block" href="single-blog.html">
                                          <h4>Blessed night morning on
                                          them you great</h4>
                                      </a>

                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>


              <!--================ Video section end =================-->






{% endblock %}
